* {
    font-family: 'Montserrat', sans-serif;
}

body {
    position: relative;
    background-color: aqua;
    height: 1200px;
}

#header-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid black;
    position: sticky;
    top: 0;
    background-color: aqua;
}

#header {
    font-size: 3em;
}

.link-item {
    padding: 5px;
}

img {
    height: 400px;
    width: auto;
    border-radius: 50%;
    border: 2px solid black;
}

#image {
    text-align: center;
    margin-top: 50px;
}

h2 {
    border-bottom: 2px solid black;
}

.form {
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid black;
    border-radius: 10px;
}

input {
    width: 300px;
    margin: 5px;
    border: 1px solid black;
    border-radius: 10px;
    text-align: center;
    padding: 5px;
}

button {
    background-color: aqua;
    border: 1px solid black;
    border-radius: 10px;
    width: 100px;
    padding: 2px;
    margin: 5px;
}

button:hover {
    cursor: pointer;
    background-color: white;
}

button:active {
    background-color: black;
    color: white;
}

.margin-offset {
    margin-bottom: 20px;
}

::placeholder {
    text-align: center;
}

.inline {
    display: inline;
}

.block {
    display: block;
}

footer {
    position: absolute;
    bottom: 0;
    text-align: center;
    background-color: black;
    color: white;
    width: 100%;
    margin: 0;
}